section.banner
    div.banner__inner
        div.banner-text__wrapper
            h3.banner__title
                | Repr in voluptate
            p.banner__text 
                | We bring you 100% free CSS templates
                | for your websites. If you wish to support
                | TemplateMo, please make a small contribution
                | via PayPal or tell your friends about our website. 
                |Thank you.
        div.banner-image__wrapper
            img(src="", alt="")

