@import "src/scss/media";

.banner {
    background-color: #efefef;

    &__inner{
        display: flex;
        justify-content: space-around;
        padding: 0px 40px;
    }

    &_text__wrapper {
        width: 50%;
        display: flex;
        flex-wrap: wrap;
        align-content: center;
    }

    &__title{
        padding: 20px 0;
        font-size: 48px;
        font-weight: 200;
    }

    &__text{
        font-size: 18px;
        font-weight: 300;
        line-height: 1.5;
    }
    &_image{
        width: 100%;

        &__wrapper {
            width: 50%;
        }
    }
    
}