footer.footer 
    div.footer__inner
        div.footer_col
            h3.footer_shop__title
                | Zay Shop
            ul.footer_col__list
                li 
                    a.footer_col__link(href="#") 
                        i.fa.fa-globe.footer_col__link__icon
                        | 123 Consectetur at ligula 10660
                li
                    a.footer_col__link(href="#") 
                        i.fa.fa-phone.footer_col__link__icon                  
                        | 010-020-0340
                li
                    a.footer_col__link(href="#")  
                        i.fa.fa-envelope.footer_col__link__icon
                        | info@company.com
        div.footer_col.footer_col_products
            h4.footer_col__title
                | Products
            ul.footer_col__list
                li
                    a.footer_col__link(href="#") 
                        | Luxury
                li
                    a.footer_col__link(href="#") 
                        | Sport Wear
                li
                    a.footer_col__link(href="#") 
                        | Shoes 
                li
                    a.footer_col__link(href="#") 
                        | Popular Dress
                li
                    a.footer_col__link(href="#") 
                        | Gym Accessories
        div.footer_col.footer_col_info
            h4.footer_col__title
                | Further Info
            ul.footer_col__list
                li
                    a.footer_col__link(href="index.html") 
                        | Home
                li
                    a.footer_col__link(href="categories.html") 
                        | Categories
                li
                    a.footer_col__link(href="products.html")  
                        | Products
                li
                    a.footer_col__link(href="contact.html")  
                        | Contact
                
