footer.footer 
    div.footer__inner
        div.footer_col
            h4.footer_col__title
                | Zay Shop
            a(href="#") 
                | 123 Consectetur at ligula 10660
            a(href="#") 
                | 010-020-0340
            a(href="#")  
                | info@company.com
        div.footer_col
            h4.footer_col__title
                | Pages
            a(href="#") 
                | Luxury
            a(href="#") 
                | Sport Wear
            a(href="#")  
                |  info@company.com
        div.footer_col
            h4.footer_col__title
                | Further Info
            a(href="#") 
                | 123 Consectetur at ligula 10660
            a(href="#") 
                | 010-020-0340
            a(href="#")  
                |  info@company.com