@import "src/scss/media";

.order-form-wrapper {


    &__container {
        width: 100%;
        display: flex;
        align-content: center;
        justify-content: space-evenly;
        padding: 40px 20px;
        @include breakpoint(tablet-600) {
            padding: 10px;
        }
    }

    &__text-box {
        width: 50%;
        @include breakpoint(tablet-600) {
            width: 100%;
        }

    }

    &__title {
        padding: 10px;
        color: #373b38;
        font-weight:500;
        font-size: 30px;

    }

    &__title-contact{
        padding: 10px;
    }

    &__text {
        padding: 20px;
        line-height: 1.5;
        font-size: 15px;
        color: #454545;
    }

    &__input-box {
        font-weight: 400;
        font-size: 14px;
        letter-spacing: 0.1px;
        line-height: 1.8;
        color: #051922;
        margin: 10px;



        #POST-name,
        #POST-email,
        #POST-phone,
        #POST-subject {
            width: 100%;
            padding: 15px;
            border: 1px solid #ddd;
            border-radius: 3px;
            box-sizing: border-box;

        }

        #POST-message {
            border: 1px solid #ddd;
            padding: 15px;
            height: 200px;
            border-radius: 3px;
            width: 100%;
            resize: none;
            box-sizing: border-box;
}
    }

    &__input-item {
        display: flex;
        width: 100%;
        flex-direction: column;
        margin: 20px 0;

    }

   

    .order-form-wrapper__btn {
        display: inline-block;
        font-size: 19px;
        font-weight: 400;
        padding: 20px;
        border: 1px solid #2e65b3;
        border-radius: 18px;
        color: #fff;
        background-color: #2e65b3;
        transition: all 0.3s;
        outline: none;

        &:hover {
            color: #2e65b3;
            background-color: #fff;
        }
    }



    &__contacts {
        width: 20%;
        background-color: #FBFBFB;
        padding: 45px 30px;
        border-radius: 5px;
    }

    &__item {
        margin-bottom: 15px;


    }
       
    
}