header.header 
    div.header__inner
        h1 
           a.header__logo(href="index.html") Zay
        a.header__link(href="index.html") Home
        a.header__link(href="") About
        a.header__link(href="") Shop
        a.header__link(href="") Contact