header.header 
    div.header__inner
        h1 
            a.header__logo(href="index.html") Zay
        a.header__link(href="index.html") Home
        a.header__link(href="categories.html") Categories
        a.header__link(href="products.html") Products
        a.header__link(href="contact.html") Contact
        a.header__link(href="order.html")
            i.fa.fa-list-alt
        a.header__link(href="cart.html")
            i.fa.fa-shopping-basket
    div.header__inner_responsive
        h1 
            a.header__logo_responsive(href="index.html") Zay
        div.header__link__wrapper
            a.header__link(href="categories.html") 
                i.fa.fa-th
            a.header__link(href="products.html") 
                i.fa.fa-tag
            a.header__link(href="contact.html") 
                i.fa.fa-phone
            a.header__link(href="order.html")
                i.fa.fa-list-alt
            a.header__link(href="cart.html")
                i.fa.fa-shopping-basket
        

        

            