header.header 
    div.header__inner
        h1 
            a.header__logo(href="index.html") Zay
        a.header__link(href="index.html") Home
        a.header__link(href="categories.html") Categories
        a.header__link(href="products.html") Products
        a.header__link(href="contact.html") Contact
        a.header__link(href="order.html")
            i.fa.fa-list-alt
        a.header__link(href="cart.html")
            i.fa.fa-shopping-basket

        

            