@import "src/scss/media";

.category {
    text-align: center;

    &__inner {
        padding: 12px 20px;

    }

    &__title__wrapper {
        width: 50%;
        margin: 0 auto;
    }

    &__title {
        padding: 20px 0;
        font-size: 48px;
        font-weight: 200;

        @include breakpoint(tablet-600) {
            font-size: 32px;
        }
    }

    &__subtitle {
        padding: 10px 0;
        line-height: 1.5;
        font-size: 18px;
        font-weight: 300;

        @include breakpoint(tablet-600) {
            display: none;
        }
    }

    &_row {
        margin: 50px 0;

        &__wrapper {
            width: 100%;
            display: flex;
            align-content: center;
            justify-content: space-evenly;
            @include breakpoint(tablet-600) {
                flex-wrap: wrap;
            }
        }

        &__item {
            width: 25%;
            text-align: center;
            @include breakpoint(tablet-600) {
            width: 70%; 
            margin: 10px 0;
           }

            &__image {
                width: 100%;
                border-radius: 50%;

            }

            &__title {
                margin: 20px 0;
                padding: 10px 0;
                font-weight: 500;
                font-size: 20px;
            }

            &__button {
                display: inline-block;
                background-color: #59ab6e;
                border-radius: 3px;
                border: 1px solid #56ae6c;
                padding: 10px 15px;
                margin: 15px 0;
                color: #fff;
                transition: all .3s;

                &:hover {
                    background-color: #fff;
                    border-radius: 3px;
                    border: 1px solid #56ae6c;
                    padding: 10px 15px;
                    color: #59ab6e;
                }

            }
        }
    }

    &_watches_row {
        margin: 50px 0;

        &__wrapper {
            width: 100%;
            display: flex;
            align-content: center;
            justify-content: space-evenly;
        }

        &__item {
            width: 25%;
            text-align: center;

            &__image {
                width: 100%;
                border-radius: 50%;

            }

            &__title {
                margin: 20px 0;
                padding: 10px 0;
                font-weight: 500;
                font-size: 20px;
            }
        }

    }

    &_accessories_row {
        margin: 50px 0;

        &__wrapper {
            width: 100%;
            display: flex;
            align-content: center;
            justify-content: space-evenly;
        }

        &__item {
            width: 25%;
            text-align: center;

            &__image {
                width: 100%;
                border-radius: 50%;

            }

            &__title {
                margin: 20px 0;
                padding: 10px 0;
                font-weight: 500;
                font-size: 20px;
            }
        }

    }


    &_shoes_row {
        margin: 50px 0;

        &__wrapper {
            width: 100%;
            display: flex;
            align-content: center;
            justify-content: space-evenly;
        }

        &__item {
            width: 25%;
            text-align: center;

            &__image {
                width: 100%;
                border-radius: 50%;

            }

            &__title {
                margin: 20px 0;
                padding: 10px 0;
                font-weight: 500;
                font-size: 20px;
            }
        }

    }
}