div.category_row
    div.category_row__wrapper
        div.category_row__item
            img.category_row__item__image(src="./img/category_img_01.jpg", alt="")
            h5.category_row__item__title 
                | Watches
            a.category_row__item__button(href="watches.html")
                | Go To Category 
        div.category_row__item
            img.category_row__item__image(src="./img/category_img_02.jpg", alt="")
            h5.category_row__item__title 
                | Shoes
            a.category_row__item__button(href="shoes.html")
                | Go To Category
        div.category_row__item
            img.category_row__item__image(src="./img/category_img_03.jpg", alt="")
            h5.category_row__item__title 
                | Accessories
            a.category_row__item__button(href="accessories.html")
                | Go To Category