div.category_shoes_row
    div.category_shoes_row__wrapper
        div.category_shoes_row__item
            img.category_shoes_row__item__image(src="./img/category_img_02.jpg", alt="")
            h5.category_shoes_row__item__title 
                | Shoes
        div.category_shoes_row__item
            img.category_shoes_row__item__image(src="./img/category_img_02.jpg", alt="")
            h5.category_shoes_row__item__title 
                | Shoes
        div.category_shoes_row__item
            img.category_shoes_row__item__image(src="./img/category_img_02.jpg", alt="")
            h5.category_shoes_row__item__title 
                | Shoes 