div.category_accessories_row
    div.category_accessories_row__wrapper
        div.category_accessories_row__item
            img.category_accessories_row__item__image(src="./img/category_img_03.jpg", alt="")
            h5.category_accessories_row__item__title 
                | Accessories
        div.category_accessories_row__item
            img.category_accessories_row__item__image(src="./img/category_img_03.jpg", alt="")
            h5.category_accessories_row__item__title 
                | Accessories
        div.category_accessories_row__item
            img.category_accessories_row__item__image(src="./img/category_img_03.jpg", alt="")
            h5.category_accessories_row__item__title 
                | Accessories  