div.category_row
    div.category_row__wrapper
        div.category_row__item
            img(src="", alt="")
            h5.category_row__item__title 
                | Watches
            a.category_row__item__button(href="#")
                | Go Shop 
        div.category_row__item
            img(src="", alt="")
            h5.category_row__item__title 
                | Shoes
            a.category_row__item__button(href="#")
                | Go Shop
        div.category_row__item
            img(src="", alt="")
            h5.category_row__item__title 
                | Accessories
            a.category_row__item__button(href="#")
                | Go Shop