section.category 
    div.category__inner
        div.category__title__wrapper
            h3.category__title 
                | Categories of The Month
            p.category__subtitle 
                | Excepteur sint occaecat cupidatat non 
                | proident, sunt in culpa qui officia 
                | deserunt mollit anim id est laborum.

        include category_row.pug

