div.category_watches_row
    div.category_watches_row__wrapper
        div.category_watches_row__item
            img.category_watches_row__item__image(src="./img/category_img_01.jpg", alt="")
            h5.category_watches_row__item__title 
                | Watches
        div.category_watches_row__item
            img.category_watches_row__item__image(src="./img/category_img_01.jpg", alt="")
            h5.category_watches_row__item__title 
                | Watches
        div.category_watches_row__item
            img.category_watches_row__item__image(src="./img/category_img_01.jpg", alt="")
            h5.category_watches_row__item__title 
                | Watches