@import "src/scss/media";

.cart_table {
    width: 100%;
    text-align: center;
    
    &__title {
        
        padding: 20px 0;
        font-size: 48px;
        font-weight: 200;
    }

    &__wrapper {
        padding: 100px 0;
        background-color: #f3f3f3;
    }

    &__inner {
        width: 80%;
        margin: 0 auto;
    }

    &_head__title {
        padding: 15px;
        font-size: 20px;
        font-weight: 500;
        color: #fff;
        border: 1px solid #efefef;
        background-color: #59ab6e;
    }

    &_item {
        position: relative;
        padding: 15px;
        font-size: 17px;
        font-weight: 300;
        border: 1px solid #efefef;
        background-color: #fff;


    }

    &__image {
        max-width: 50px;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }

    &__button {
        display: inline-block;
        font-size: 19px;
        font-weight: 400;
        padding: 20px;
        margin: 20px;
        border-radius: 18px;
        color: #fff;
        background-color: #2e65b3;
        transition: all 0.3s;

        &:hover {
            color: #2e65b3;
            background-color: #fff;
        }
    }

}