section.cart_table__wrapper
    div.cart_table__inner
        h3.category__title 
            | Order List
        table.cart_table 
            thead.cart_table_head 
                tr
                    th.cart_table_head__title 
                        | Product 
                    th.cart_table_head__title
                        | Name
                    th.cart_table_head__title
                        | Price 
            tbody.cart_table_body 
                tr 
                    td.cart_table_item 
                        img.cart_table__image(src="./img/feature_prod_02.jpg", alt="")
                    td.cart_table_item
                        | Cloud Nike Shoes
                    td.cart_table_item
                        | $480.00
                tr 
                    td.cart_table_item 
                        img.cart_table__image(src="./img/feature_prod_03.jpg", alt="")
                    td.cart_table_item
                        | Summer Addides Shoes
                    td.cart_table_item
                        | $360.00
                tr 
                    td.cart_table_item 
                        img.cart_table__image(src="./img/feature_prod_01.jpg", alt="")
                    td.cart_table_item
                        | Gym Weight
                    td.cart_table_item
                        | $240.00
        a(href="order.html").cart_table__button
            | Check Out 



