div.featured_row
    div.featured_row__wrapper
        div.featured_row__item
            img.featured_row__item__image(src="./img/feature_prod_01.jpg", alt="")
            h5.featured_row__item__title 
                | Gym Weight
            p.featured_row__item__price
                | $240.00
        div.featured_row__item
            img.featured_row__item__image(src="./img/feature_prod_02.jpg", alt="")
            h5.featured_row__item__title 
                | Cloud Nike Shoes
            p.featured_row__item__price
                | $480.00
        div.featured_row__item
            img.featured_row__item__image(src="./img/feature_prod_03.jpg", alt="")
            h5.featured_row__item__title 
                | Summer Addides Shoes
            p.featured_row__item__price
                | $360.00
        
