section.featured 
    div.featured__inner
        div.featured__title__wrapper
            h3.featured__title 
                | Featured Product
            p.featured__subtitle
                | Reprehenderit in voluptate velit
                | esse cillum dolore eu fugiat nulla
                | pariatur. Excepteur sint occaecat 
                | cupidatat non proident.

        include featured_row.pug

        include featured__button.pug
        


